/**
  * Site layout file (eg header)
  * The emulator itself should work without this file!
  */
body {
  background-color: #ECEFF1
}
#site-header {
  padding: 25px;
  margin-bottom: 25px;
  height: 88px;
}
#site-header .page-title {
  float: left;
  margin: 0;
  font-weight: 300;
}
#site-header .loading-icon {
  float: left;
  margin-left: 15px;
  height: 100%;
  width: auto;
}
