/**
  * Droid CSS API
  * Contains all default styling (eg buttons).
  */
@import 'https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900';
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
* {
  box-sizing: border-box;
}
/**
  * Locate device
  */
#device-view {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 435px;
  height: 773px;
  background-color: #FFFFFF;
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.21);
  overflow: hidden;
}
/**
  * App default styling
  */
.app {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  z-index: 10;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
}
.app.launched {
  top: 0;
}
.app.closing-posfix {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  transition: none;
  -moz-transition: none;
  -webkit-transition: none;
}
.app.closing {
  transform: translate(-50%, -50%) scale(0);
  opacity: 0;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
}
